

.container{
   
   width: 1280px;
    margin: 0 auto;
    font-family: Roboto;
    

}

.header{
  height: 198px;
  margin-bottom: 49px;
}


.link-header{
  display:inline-block;
  color: #000;
  font-size: 80px;
  font-weight: 400;
  text-decoration: none;
  margin-bottom: 40px;
 

}
span{
  
  text-decoration: none;
  color: #4BCAFF;
 

}

.menu{
 height: 69px;
 display: flex;
  justify-content: center;
  background-color:#35444F; 
  margin-bottom: 49px ;
  
  
  
  
 
}

.link:hover{
  background-color:#222F2A;
 

  
}


.item>a{
  
  color: #fff;
  display: block;
  font-size: 24px;
  font-weight: 400;
  border: 1px solid #Fff;
  padding:  24px 18px  ;
  text-decoration: none;
  box-sizing: border-box;
  height: 69px;
 
 
  
}
.section{
  display: flex;
}

.left-menu{
 
  list-style: none;
  width: 344px;
  border: 1px solid #000;
}


.link-text{
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  text-decoration: none;
  display: block;
  padding: 26px 50px;
}



.item1:hover {
  background-color:#DBDBDB;
}
.link-text:hover {
  color:#000;
  margin-left: 38px;
}
.main-rigt{

  margin-left: 52px;
}
  .photo{
   display: flex;
    border: 1px solid #000;
    height: 529px;
    margin-bottom: 37px;
  }
.main-photo{
 display: block;
margin: 0 auto;

  
  
}


.text-main{
  
  color: #2C2C2C; 
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.paragraf{
  margin-bottom:  13px;;
}



 
  
 
 .footer{
  display: flex;
  background-color: rgba(99, 105, 110, 0.48);
  margin-top: 54px;
  margin-bottom: 30px;
  padding: 20px 40px;
 


 }
 .clik{
  color: #0C1927;
  text-decoration: none;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  margin-left: 20px;
 
 }
 .clik:hover{
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
  
 }
 
 
 .text-footer{
  display: inline;
  color: #010101;
  margin-left:120px;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px

 }
    
 






 